<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appspot.usbhidterminal.tests"
    android:versionCode="10"
    android:versionName="1.1.0">

    <application>
        <uses-library android:name="android.test.runner" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <instrumentation
            android:name="android.test.InstrumentationTestRunner"
            android:targetPackage="com.appspot.usbhidterminal" />

</manifest>